@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffb30e;
  --selected: #f17228;
  --footer-bg: #1a1a1a;
  --input-bg: #f5f5f5;
  --placeholder: #9e9e9e;
  --error: #ff6868;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-selected: var(--selected);
  --color-footer-bg: var(--footer-bg);
  --color-input-bg: var(--input-bg);
  --color-placeholder: var(--placeholder);
  --color-error: var(--error);
  --font-sans: var(--font-source-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-sans), sans-serif;
}
